@import 'assets/styles/_variables.scss';

.login-button{
  width: 100%;
  color: white;
  background-color: $textColorDarkPurple;
  padding: 12px 5px;
  border-style: none;
  font-weight: bold;
  border-radius: 8px;
  transition: transform 0.1s;
  &:hover{
    transform: scale(1.02) ;
    filter: brightness(110%)
  }
}