@import 'assets/styles/_variables.scss';

.container-login{
  display:flex; 
  flex: 1;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  min-height:100vh;
  
  .login-box{
    margin-top: 20px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    padding: 25px 45px;
    overflow: hidden;
    flex-direction: column;
    h1{
      font-size: 25px;
      margin: 10px 0px;
      font-weight: bold;
      color: $textColorDarkPurple
    }
  }
}

