@import 'assets/styles/_variables.scss';

.container-logo{
  display: flex;
  height: 40px;
  flex-direction: row;
  svg{
    margin-right: 10px;
  }
  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    span:first-child{
      color: $textColorDarkBlue;
      font-weight: bold;
      font-size: 20px;
    }
    span:last-child{
      color: $textColorDarkBlue;
      font-size: 12px;
      margin-top: -6px;
    }
  }
}