@import 'assets/styles/_variables.scss';

.container-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
  margin-top: -14px;
  button.logout{
    color: $fontColorNavActive;
    background: none;
    border-style: solid;
    padding: 10px;
    width: 80%;
    text-align: left;
    padding-left: 30px;
    font-size: $fontSizeNav;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: $backgroundColorNav;
    border: none;
    font-weight: bold;
    svg{
      margin-right: 10px;
    }
  }
  a{
    color: $fontColorNav;
    text-decoration: none;
    font-weight: bold;
    padding: 13px;
    font-size: $fontSizeNav;
    border-right: 20px;
    padding-left: 30px;
    display: flex;
    align-content: center;
    width: 80%;
    span{
      margin-left: 10px;
    }
    &.active{
      background-color: $backgroundColorNav;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      color: $fontColorNavActive;
      svg{
        color: $baseOrange;
      }
    }
  }
}