@import "~bootstrap/scss/bootstrap";

body {
  background-image: linear-gradient(to left, #F3F7FE, #C9D5E9);
  font-family: sans-serif;
}

.container-form{
  padding-top: 20px;
  padding-bottom: 20px;
  .row > div {
    margin: 5px 0px;
  }
}
