$textColorDarkPurple: #68677E;
$borderColorInputText: #C9D5E8;
$textColorDarkBlue: #36374A;
$textColorLightGray: #8891A6;
$baseOrange: #EE6506;
$fontColorNav: #B6B4BC;
$fontColorNavActive: #68677E;
$backgroundColorNav: #F2F1F6;
$colorLogo: #212529;

$fontSizeNav: 14px;